<div class="relative overflow-x-auto">
    <input 
      type="text" 
      [(ngModel)]="searchTerm" 
      placeholder="Buscar por nombre de categoria..." 
      class="w-full p-2 mb-4 border border-gray-300 rounded-md"
    />
  
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 text-center">
            Nombre Categoria
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Fecha de creacion
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Fecha de ultima actualizacion
          </th>
          <th scope="col" class="px-6 py-3 text-center">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        @for(category of filteredCategories(); track category.id){
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-center">
          <td class="px-6 py-4">
            {{category.name}}
          </td>
          <td class="px-6 py-4">
            {{category.creationDate | TStoDate}}
          </td>
          <td class="px-6 py-4">
            {{category.lastUpdate | TStoDate }}
          </td>
          <td class="px-6 py-4 flex items-center justify-center space-x-4">
          
            <!-- Botón Editar -->
            <a routerLink="/categories/edit/{{category.id}}" class="focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                <path d="M16 5l3 3" />
              </svg>
            </a>
          
            <!-- Botón Borrar -->
            <button (click)="deleteCategory(category.id)" class="focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash-x">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7h16" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                <path d="M10 12l4 4m0 -4l-4 4" />
              </svg>
            </button>
          </td>
        </tr>
        }
        @empty{
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td colspan="5" class="px-6 py-4 text-center">
              No hay categorias guardadas todavia
            </td>
            
          </tr>
        }
      </tbody>
    </table>
  </div>
  
